.footer {
	width: 100%;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
  	background-color: #165c26;
  	color: #ffffff;
  	font-size: 18px;
}

.name {
	float: right;
	padding-right: 50px;
	color: #ffffff;
	font-size: 18px;
}

@media only screen and (max-width: 780px) {
	.footer {
		font-size: 14px;
		text-align: center;
		padding-left: 0px !important;
	}

	.name {
		font-size: 14px;
		text-align: center;
		padding-right: 0px !important;
		margin-right: 20px;
	}
}